{{ define "main" }}
<div class="page-gradient">

  <section class="section hero-text">
    <h1>Contact Us</h1>
    <p class="body-large">We thrive on collaboration, creativity, and connecting with like-minded individuals and businesses who share our passion. Click on one of the buttons below to tell us about your project, book a meeting, or discover exciting career prospects.</p>

    <div class="contact-details">
      <h3><a href="tel:{{ .Site.Params.phone | replaceRE `\s` `` }}" target="_blank">Phone: {{ .Site.Params.phone }}</a></h3>
      <h3><a href="mailto:{{ .Site.Params.email }}" target="_blank">Email: {{ .Site.Params.email }}</a></h3>
    </div>

    <div class="flip-boxes">
      {{ range .Site.Data.contact_ctas.items }}
        {{ $url := .url }}
        {{ if .url_param }}
          {{ $url = index $.Site.Params (lower .url_param) }}
        {{ end }}
        {{ partial "flip-box.html" (dict
          "url" $url
          "title" .title
          "description" .description
          "icon" .icon
        ) }}
      {{ end }}
    </div>
  </section>

</div>
{{ end }}
